html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 100px;
}

.logo {
  padding: 15px;
}
